"*":
  "autocomplete-plus":
    enableAutoActivation: false
  autosave:
    enabled: true
  "color-picker":
    automaticReplace: true
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "rainbow-tabs"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 19
    preferredLineLength: 72
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e6908e7f-019e-86a7-cce1-adbb55a2e699"
  "gist-it":
    openAfterCreate: true
  "project-manager": {}
  "toggle-gutter":
    showNumbers: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
